.SyncIgnore
.SyncID
.SyncArchive/
.DS_Store
PyV8/
GitRename
InactivePanes_
MacTerminal
MacTerminal
SublimeCodeIntel
Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle
AdvancedNewFile/
RailsAutocomplete/
User/rails_project.sublime-completions
Foundation
.sync

